/* IMPORT ALL FILE CSS */

/* PAGE */
@import url("../pages/auth/login/Login.css");

/* COMPONENT */
@import url("../styles/Layout.css");

@import url("../components/module/Input/Input.css");
@import url("../components/module/Navbar/Navbar.css");
@import url("../components/module/Sidebar/Sidebar.css");
@import url("../components/module/Button/Button.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* COSTUM */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

.nunito-400 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.nunito-600 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.nunito-700 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.font-primary {
  color: #6379f4;
}

.font-black {
  color: #3a3d42;
}

.font-secondary {
  color: #3a3d42;
  opacity: 80%;
}

.font-thrid {
  color: #3a3d42;
  opacity: 60%;
}

.color-primary {
  background-color: #6379f4;
}
